_target_: src.models.module.BaseModule

criterion:
  _target_: torch.nn.BCELoss

optimizer:
  _target_: torch.optim.SGD
  _partial_: true
  lr: 2.5e-4
  momentum: 0.9
  weight_decay: 5.0e-4

scheduler:
  _target_: torch.optim.lr_scheduler.LambdaLR
  _partial_: true
  lr_lambda:
    _target_: libs.utils.scheduler.lr_lambda3
    _partial_: true
    epochs: ${trainer.max_epochs}

net:
  _target_: libs.models.deeplab.deeplab_v3.DeepLabV3Plus
  input_dim: 3
  output_dim: 1
  pretrained: true
  # output_stride==16
  strides: [1, 2, 2, 1]
  dilations: [1, 1, 1, 2]
  multi_grids: [1, 2, 4]
  atrous_rates: [6, 12, 18]
  # output_stride==8
  # strides: [1, 2, 1, 1]
  # dilations: [1, 1, 2, 2]
  # multi_grids: [1, 2, 1]
  # atrous_rates: [12, 24, 36]
  init_type: kaiming

# compile model for faster training with pytorch 2.0
compile: false
