defaults:
  - /model/net/transformer/mobilevit/xx-small@_here_

config:
  dims: [32, 64, 96, 128, 160]

  redisual:
    ratio: 4

  trunk:
    block_configs: [[2, 144, 2], [4, 192, 2], [3, 240, 2]]

  pretrained:
    path: ./resources/checkpoints/mobilevit/mobilevit-small.bin
